
<h2>Nhược điểm của phát triển từ xa (Offshore) </h2>
Nhìn vào giai đoạn phát triển phần mềm, ta thấy rằng nếu có thể giao sản phẩm cho khách hàng trong thời gian ngắn, chất lượng tốt, giá thành thấp thì chắc chắn độ hài lòng của khách hàng sẽ tăng cao.
So sánh giữa phát triển từ xa (Offshore) và phát triển trong nước, điểm trừ luôn được nêu ra đó là sự sụt giảm chất lượng sản phẩm. Dựa trên kinh nghiệm của chúng tôi, nguyên nhân chính dẫn đến sụt giảm chất lượng chủ yếu là do lượng và chất của việc truyền đạt thông tin. Khoảng cách địa lý, thời gian và khác biệt ngôn ngữ, văn hóa giữa khách hàng và lập trình viên khiến giao tiếp, truyền đạt thông tin trở nên không thuận lợi.
Đây chính là trở ngại lớn nhất trong phát triển từ xa (Offshore).
Tuy nhiên, Framgia chúng tôi nghĩ rằng có thể khắc phục được những nhược điểm đó nếu lựa chọn kỹ thuật và công nghệ phù hợp với hình thức phát triển từ xa (Offshore).
Phương pháp Chính những Bridge SE thông thạo 2 thứ tiếng cũng không thể trở thành một “Bridge” hoàn hảo do khác biệt về sắc thái ngôn ngữ và văn hóa. Vì vậy, rất dễ xảy ra hiểu lầm trong việc truyền đạt thông tin. 
Tuy đây không phải là hạn chế lớn đối với phát triển từ xa (Offshore), nhưng để khắc phục điều này, cần giao sản phẩm cho khách hàng xem với tần suất liên tục, truyền đạt thông tin không chỉ bằng ngôn ngữ mà cần phải sử dụng nhiều công cụ phần mềm khác. ện thực hóa điều đó, chúng tôi cho rằng cần phải áp dụng mô hình phát triển Agile. Bên cạnh đó, chúng tôi cũng áp dụng phương pháp phát triển TDD, xác nhận với khách hàng về đặc tả kỹ thuật của các chức năng cần thiết thông qua test case level.
<h2>Công nghệ</h2>
Trong quá trình xúc tiến phương pháp phát triển Agile, chúng tôi đã xem xét kỹ thuật nào là phù hợp nhất. Chúng tôi chú trọng đặc biệt đến khả năng tạo nguyên mẫu (Prototyping) và tạo môi trường phát triển TDD. Bởi vì, đây là điều kiện quan trọng nhất để phòng tránh sự sụt giảm chất lượng như đã nêu ở trên. 

Sau khi xem xét kỹ những điều trên, chúng tôi nghĩ rằng cần phải tận dụng tối đa những thế mạnh của Ruby on Rails. 

Không chỉ Ruby on Rails, Framgia chúng tôi còn áp dụng mô hình phát triển Agile và phát triển TDD để cung cấp dịch vụ phát triển từ xa (Offshore) chất lượng tốt nhất.