<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Have account need active form : http://localhost:3000</h1>
    Account information
    <ul>
      <li>Email :<%= @usr_name %></li>
      <li>Password :<%= @usr_passwd %></li>
      <li>Create At: <%=@usr_create_at%></li>
    </ul>
    <p>
      Click link below to active this user !<br/>
      http://localhost:3000/actives/<%=@usr_md5%>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>