<%= search_form_for @reports do |f| %>
		<%= f.condition_fields do |c|%>
			<%= render "condition_fields", f: c%><td>
		<% end %>
			<div class = "actions"><%=f.submit "Search", class: "btn btn-medium btn-primary"%></div>
	<% end %>



index