<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table  width='100%'>
		<tr height= "50px", align = "center" bgcolor = "#CCFF33">
			<td width='5%'>ID</td>
			<td width='5%'>Group</td>
			<td width='10%'>Manger(G)</td>
			<td width='30%'>Email</td>
			<td width='30%'>Create At</td>
			<td width='10%'>Status</td>
			<td width ='10%'><td>
		</tr>

</table>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>