<% provide(:title, 'Create New Account') %>
<h3>Bạn đã chọn tạo một tài khoản mới.Vui lòng đọc các điều khoản sử dụng</h3>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      Điều khoản sử dụng
            <textarea rows="4" cols="50">
               ĐỌC RÕ CÁC QUY ĐỊNH CỦA TRANG WEB
- Viết tiếng việt có dấu
- Hoàn thành bản report sau mỗi ngày làm việc
- Cư xử lịch thiệp, không văng tục chửi bậy
- User Account có thể bị xóa bất cứ lúc nào bởi người quản trị
- Mật khẩu được gửi qua email .Nên vui lòng điền đúng tên email để hệ thống xác nhận.
- Mặt khẩu chỉ được tạo 1 lần ,nên hãy cẩn thận,,nếu có vấn đề gì liên quan tới tài khoản xin vui lòng liên hệ tới người quản trị.

Thân,
    </textarea>
     <div class="block-btnSet">
              <div class="block-text">
                <span class="checkCell">
                  <table>
                    <tr>
                    </td><input type="checkbox" id="agreement_xx1" name="nnn1"><label for="agreement_xx1">
                    </td>
                    <td>
                      Tôi đã đọc kỹ nội dung !
                    </td>
                    </tr>
                  </table>
                  </label></span>
              </div> 
              <a class="row", disabled="disabled">
                 <%= f.submit "Create Account", class: "btn btn-large btn-primary disabled", id: "agreement_xx1_btn" %>
              </a>            
              <script type="text/javascript">
                var agreement_xx1_checkbox = $('#agreement_xx1');
                var agreement_xx1_btn = $('#agreement_xx1_btn');
                
                agreement_xx1_checkbox.click(function(){
                  var agreement_xx1_checked = $('#agreement_xx1').is(':checked');

                  if(agreement_xx1_checked){
                    agreement_xx1_btn.removeAttr("disabled");
                    agreement_xx1_btn.removeClass('disabled');
                  }else{
                    agreement_xx1_btn.attr("disabled", "disabled");
                    agreement_xx1_btn.addClass('disabled');
                  }
                });
              </script>
            </div>
    <% end %>
  </div>
</div>
 


