<div id="footer">
      <div id="footer-left">
        <a href='http://framgia.com/vn'>Copyright &copy; Framgia Vn 2013-2014</a> 
      </div> <!--End of footer-left-->

      <div id='footerNav'>
        <ul id="footer-right">
            <li><a href='http://framgia.com/vn'>FramgiaVn  |  </a></li>
            <li><a href='http://framgia.com/jp'>FramgiaJp  |  </a></li>
            <li><a href='http://tech.blog.framgia.com/vn/'>TechBlog  |  </a></li>
            <li><a href='#'>Ruby on Rails  |  </a></li>
            <li><a href='#'>Contact</a></li>
        </ul>
      </div> <!--end of footerNav-->
    </div> <!--End of footer-->