<div id="footer">
      <div id="footer-left">
        <a href='http://framgia.com/vn'>Copyright &copy; Framgia Vn 2013-2014</a> 
      </div> <!--End of footer-left-->

      <div id='footerNav'>
        <ul id="footer-right">
            <li><a href='#'>Homepage</a></li>
            <li><a href='#'>Tutorial</a></li>
            <li><a href='#'>CSS</a></li>
            <li><a href='#'>HTML</a></li>
            <li><a href='#'>Wordpress</a></li>
           <li><a href='#'>Forum</a></li>
            <li><a href='#'>FAQs</a></li>
           <li><a href='#'>Contact</a></li>
        </ul>
      </div> <!--end of footerNav-->
    </div> <!--End of footer-->